In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
jdf = pd.read_json('customersdata.json',lines=True)

In [3]:
jdf.isnull().sum()
jdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 5 columns):
customer          168 non-null object
fraudulent        168 non-null bool
orders            168 non-null object
paymentMethods    168 non-null object
transactions      168 non-null object
dtypes: bool(1), object(4)
memory usage: 5.5+ KB

* There are no Null Values in all the dataset

In [4]:
F = jdf['fraudulent']

In [5]:
jdf.shape

(168, 5)

In [6]:
jdf=jdf.set_index(np.arange(0+1,168+1))

In [7]:
jdf.iloc[0,0]

{'customerEmail': 'josephhoward@yahoo.com',
 'customerPhone': '400-108-5415',
 'customerDevice': 'yyeiaxpltf82440jnb3v',
 'customerIPAddress': '8.129.104.40',
 'customerBillingAddress': '5493 Jones Islands\nBrownside, CA 51896'}

In [8]:
jdf['Email'] = jdf['customer'].apply(lambda x : x['customerEmail'])
jdf['Phone'] = jdf['customer'].apply(lambda x : x['customerPhone'])
jdf['Device'] = jdf['customer'].apply(lambda x : x['customerDevice'])
jdf['IPAddress'] = jdf['customer'].apply(lambda x : x['customerIPAddress'])
jdf['BillingAddress'] = jdf['customer'].apply(lambda x : x['customerBillingAddress'])

In [30]:
jdf['c_index']=jdf.index

In [34]:
jdf = jdf.set_index('c_index')

In [37]:
jdf.sample()

,fraudulent,orders,paymentMethods,transactions,Email,Phone,Device,IPAddress,BillingAddress
c_index,,,,,,,,,
123,False,[],"[{'paymentMethodId': 'pkibf1ljc', 'paymentMeth...",[],kellyfrank@atkinson.com,385.658.6769x97942,7oxxcwtvj7ypxqjgot80,77a1:d842:acfc:5d50:a803:70c1:4f8b:7cfc,"05919 Lopez Hollow\nNoblestad, IN 29012"

In [38]:
# del jdf['customer']

In [39]:
jdf['orders'][2]

[{'orderId': 'nlghpa',
  'orderAmount': 45,
  'orderState': 'fulfilled',
  'orderShippingAddress': '898 Henry Ports\nNew Keithview, CA 95893-2497'},
 {'orderId': 'uw0eeb',
  'orderAmount': 23,
  'orderState': 'fulfilled',
  'orderShippingAddress': '356 Elizabeth Inlet Suite 120\nPort Joshuabury, NM 37681'},
 {'orderId': 'bn44oh',
  'orderAmount': 43,
  'orderState': 'fulfilled',
  'orderShippingAddress': '5093 Bryan Forks\nJoshuaton, FM 01565-9801'}]

In [102]:
ordersjdf = jdf[['orders']].copy()

In [103]:
ordersjdf['orderId'] = ordersjdf['orders'].apply(lambda x : [i['orderId'] for i in x])
ordersjdf['orderAmount'] = ordersjdf['orders'].apply(lambda x : [i['orderAmount'] for i in x])
ordersjdf['orderState'] = ordersjdf['orders'].apply(lambda x : [i['orderState'] for i in x])
ordersjdf['orderShippingAddress'] = ordersjdf['orders'].apply(lambda x : [i['orderShippingAddress'] for i in x])

In [104]:
ordersjdf.sample()

,orders,orderId,orderAmount,orderState,orderShippingAddress
c_index,,,,,
70,"[{'orderId': '12l1rw', 'orderAmount': 34, 'ord...","[12l1rw, pcmaex, hxwtsb, nm269f]","[34, 43, 15, 48]","[fulfilled, fulfilled, failed, fulfilled]","[586 Johnson Courts\nSouth Timothymouth, OH 66..."